/* Forms */
/* line 3, ../sass/_forms.sass */
input, select {
  min-width: 200px;
  height: 30px;
  border: 0;
  background: #bbbbbb;
  color: #444444;
  padding: 2px 5px;
}

/* line 12, ../sass/_forms.sass */
form label {
  display: inline;
  margin-right: 10px;
}

/* line 1, ../sass/_polymer.sass */
html, body {
  height: 100%;
  margin: 0;
  background-color: #e5e5e5;
  font-family: "RobotoDraft", sans-serif;
}

/* line 7, ../sass/_polymer.sass */
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 12, ../sass/_polymer.sass */
core-toolbar {
  background: #03a9f4;
  color: white;
}

/* line 16, ../sass/_polymer.sass */
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

/* line 10, ../sass/app.sass */
body {
  background: #dedede;
  color: #444444;
  padding: 20px;
  font-family: "Segoe UI", "Lucida Grande", "Ubuntu Regular";
}

/* line 16, ../sass/app.sass */
canvas {
  background: white;
  padding: 20px;
  border: 2px dotted #dfdfdf;
}

/* line 21, ../sass/app.sass */
.chosen {
  border: 3px solid blue;
}
