/* Forms */

input, select 
    min-width: 200px
    height: 30px
    border: 0
    background: #bbb
    color: #444
    padding: 2px 5px
    box-sizing: border-box
    
form
    label
        margin-right: 10px
    > div
        margin-bottom: 7px
        width: 300px
        height: 35px
        input, select
            float: right
    button
        margin: 10px 0

button
    border: 0
    height: 30px
    background: #c5c5c5
    cursor: hand